version: v3
teleport:
  nodename: {{ teleport_node_name }}
  data_dir: /var/lib/teleport
  join_params:
    token_name: "{{ teleport_join_token }}"
    method: token
  proxy_server: "teleport.example.com:443"
  log:
    output: stderr
    severity: INFO
    format:
      output: text
  ca_pin: ""
  diag_addr: ""
auth_service:
  enabled: "no"
ssh_service:
  enabled: "yes"
  labels:
    ansible: "true"
{% if teleport_node_label is defined and teleport_node_label | length > 0 %}
{% for key, value in teleport_node_label.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endif %}
  commands:
    - name: hostname
      command: [hostname]
      period: 1m0s
proxy_service:
  enabled: "no"
  https_keypairs: []
  https_keypairs_reload_interval: 0s
  acme: {}
app_service:
  enabled: {{ teleport_app_service_enabled | default("no") }}
{% if teleport_apps is defined and teleport_apps | length > 0 %}
  apps:
{% for app in teleport_apps %}
    - name: {{ app.name }}
      uri: "{{ app.uri }}"
{% if app.insecure_skip_verify is defined %}
      insecure_skip_verify: {{ app.insecure_skip_verify | lower }}
{% endif %}
{% if app.labels is defined and app.labels | length > 0 %}
      labels:
{% for key, value in app.labels.items() %}
        {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
