{# System section aggregator include #}
{% include "pfsense/network/_interfaces.xml.j2" +%}
{% include "pfsense/network/_nat.xml.j2" +%}
{% include "pfsense/network/firewall/_aliases.xml.j2" +%}
{% include "pfsense/network/firewall/_filter.xml.j2" +%}
{% include "pfsense/network/_unbound.xml.j2" +%}
