{# Firewall aliases configuration #}
<aliases>
	<alias>
		<name>FirewallManagement</name>
		<type>port</type>
		<address>22 80 443 8080</address>
		<descr><![CDATA[SSH||HTTP||HTTPS||Alt. HTTPS]]></descr>
		<detail></detail>
	</alias>
</aliases>